@using JobHunt.Application.Jobs
@using JobHunt.Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JobHunt.Application.Companies.CompanyDto
@{
    ViewData["Title"] = "About your company";
}
<section>
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-2">
                <partial name="SideMenu"/>
            </div>
            <div class="col-lg-10">
                <form action="@Url.Action("UpdateCompanyDetails", "Account")" method="post">
                    <h3 class="mb-3">About your company</h3>
                    <input asp-for="Id" type="hidden">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <div class="mb-3 small-section-tittle2">
                                <h4 class="mb-1">Company logo</h4>
                                <img class="img-fluid border rounded mb-1" src="~/images/placeholder.png" alt="Logo">
                                <input asp-for="Logo" type="file" class="form-control bg-white">
                            </div>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="mb-3 small-section-tittle2">
                                        <h4 class="mb-1">Name</h4>
                                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter company's name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="mb-3 small-section-tittle2">
                                        <h4 class="mb-1">Contacts</h4>
                                        <input asp-for="Phone" type="number" class="form-control" placeholder="Enter company's phone">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3 small-section-tittle2">
                                    <h4 class="mb-1">Location</h4>
                                    <input asp-for="Location" type="text" class="form-control" placeholder="Enter company's location">
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 small-section-tittle2">
                            <h4 class="mb-1">Description</h4>
                            <div class="col-12">
                                <textarea asp-for="Description" class="form-control" rows="5" placeholder="Company's description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>