@using JobHunt.Application.Companies

@model StatisticDto
@{
    ViewData["Title"] = "My account";
}

<section>
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-2">
                <partial name="/Views/Shared/Partial/SideMenuPartial.cshtml" />
            </div>
            <div class="col-lg-10">
                <h3 class="mb-3">Statistic</h3>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="card card-stats mb-4 mb-xl-0 shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Job posts</h5>
                                        <span class="h2 font-weight-bold mb-0">@Model.JobPostCount</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 ">
                        <div class="card card-stats mb-4 mb-xl-0 shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Applications</h5>
                                        <span class="h2 font-weight-bold mb-0">@Model.ApplicationsCount</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fa fa-share"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 ">
                        <div class="card card-stats mb-4 mb-xl-0 shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">CV's</h5>
                                        <span class="h2 font-weight-bold mb-0">@Model.CVCount</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                            <i class="fa fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
