<div class="vertical-menu position-fixed">
    <ul>
        <li>
            <a href='#'>Account</a>
        </li>
        <li>
            <a href='@Url.Action("AboutCompany", "Account")'>About company</a>
        </li>
        <li>
            <a href='@Url.Action("ContactData", "Account")'>Contact data</a>
        </li>
        <li>
            <a href='#'>Job posts</a>
        </li>
        <li>
            <a href='@Url.Action("PostJob", "Jobs")'>Post a job</a>
        </li>
        <li>
            <a href='#'>Job applications</a>
        </li>
        <li>
            <a href='#'>Logout</a>
        </li>
    </ul>
</div>