<div class="vertical-menu position-sticky">
    <ul>
        <li>
            <a asp-action="MyAccount" asp-controller="Employer">My account</a>
        </li>
        <li>
            <a asp-action="AboutCompany" asp-controller="Employer">About company</a>
        </li>
        <li>
            <a asp-action="ContactData" asp-controller="Employer">Contact data</a>
        </li>
        <li>
            <a asp-action="JobPosts" asp-controller="Employer">Job posts</a>
        </li>
        <li>
            <a asp-action="PostJob" asp-controller="Jobs">Post a job</a>
        </li>
        <li>
            <a href='#'>Job applications</a>
        </li>
        <li>
            <a asp-action="Logout" asp-controller="Auth">Logout</a>
        </li>
    </ul>
</div>