<div class="vertical-menu position-sticky">
    <ul>
        <li>
            <a asp-action="MyAccount" asp-controller="JobSeeker">My account</a>
        </li>
        <li>
            <a href='#'>Job applications</a>
        </li>
        <li>
            <a href='#'>Messages</a>
        </li>
        <li>
            <a href='#'>Saved jobs</a>
        </li>
        <li>
            <a asp-action="Logout" asp-controller="Auth">Logout</a>
        </li>
    </ul>
</div>
