@using JobHunt.Domain.Entities
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-action="MyAccount" asp-controller="@User.FindFirst(ClaimTypes.Role).Value">My account</a>
}
else
{
    <a asp-action="Login" asp-controller="Auth">Log in</a>
}