@model JobApplicationsViewModel
@{
    ViewData["Title"] = "My job applications";
    Layout = "/Views/Shared/Layouts/_JobSeekerProfileLayout.cshtml";
}

<div>
    <h3 class="mb-3">Job Applications</h3>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Job title</th>
                    <th scope="col">Applied At</th>
                    <th scope="col">Go to</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var jobApplication in Model.JobApplications)
                {
                    <tr>
                        <td>@jobApplication.JobTitle | @jobApplication.CompanyName</td>
                        <td>@jobApplication.AppliedAt</td>
                        <td>
                            <a asp-action="JobDetails" asp-controller="Jobs" asp-route-jobPostId="@jobApplication.JobPostId" class="btn btn-outline-primary btn-sm"><i class="fa fa-external-link"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
