@using JobHunt.Application.Jobs
@using JobHunt.Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployerProfileViewModel
@{
    ViewData["Title"] = "Contact data";
    Layout = "/Views/Shared/Layouts/_EmployerProfileLayout.cshtml";
}

<div>
    <form asp-action="UpdateContactData" asp-controller="Employer" method="post">
        <h3 class="mb-3">Contact data</h3>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="mb-3 small-section-tittle2">
                    <h5 class="mb-1">Full name</h5>
                    <input type="hidden" asp-for="Profile.Id" />
                    <input asp-for="Profile.Fullname" type="text" class="form-control" placeholder="Enter full name">
                    <span asp-validation-for="Profile.Fullname" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="mb-3 small-section-tittle2">
                    <h5 class="mb-1">Email</h5>
                    <input asp-for="Profile.Email" type="text" class="form-control" placeholder="Enter email address">
                    <span asp-validation-for="Profile.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="mb-3 small-section-tittle2">
                    <h5 class="mb-1">Phone number</h5>
                    <input asp-for="Profile.Phone" type="text" class="form-control" placeholder="Enter phone number">
                    <span asp-validation-for="Profile.Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">Save changes</button>
        </div>
    </form>
</div>
