@using JobHunt.Application.Jobs
@model CompanyJobPostsViewModel
@{
    ViewData["Title"] = "My job posts";
    Layout = "/Views/Shared/Layouts/_EmployerProfileLayout.cshtml";
}

<div>
    <h3 class="mb-3">Job posts</h3>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Job title</th>
                    <th scope="col">Publish date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var jobPost in Model.JobPosts)
                {
                    <tr>
                        <td>@jobPost.JobTitle</td>
                        <td>@jobPost.PublishDate</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a asp-action="EditJobPost" asp-controller="Jobs" asp-route-jobPostId="@jobPost.Id" class="btn btn-outline-primary btn-sm"><i class="fa fa-edit"></i></a>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#confirmDeletion" onclick="selectCurrentJobPostId('@jobPost.Id')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm">Confirm deletion</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the job post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form asp-action="DeleteJobPost" asp-controller="Jobs" method="post">
                    <input type="hidden" id="jobPostIdToDelete" name="jobPostId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function selectCurrentJobPostId(jobPostId) {
        document.getElementById('jobPostIdToDelete').value = jobPostId;
        console.log(jobPostId);
    }
</script>
